[submodule "tigris"]
	path = tigris
	url = https://github.com/tigris-mt/tigris
[submodule "simple_sunburn"]
	path = simple_sunburn
	url = https://github.com/tigris-mt/simple_sunburn
[submodule "smartfs"]
	path = smartfs
	url = https://github.com/minetest-mods/smartfs
[submodule "minetest_playereffects"]
	path = minetest_playereffects
	url = https://repo.or.cz/minetest_playereffects.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "armor_monoid"]
	path = armor_monoid
	url = https://github.com/minetest-mods/armor_monoid
[submodule "minetest-3d_armor"]
	path = minetest-3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "castle_masonry"]
	path = castle_masonry
	url = https://github.com/minetest-mods/castle_masonry
[submodule "castle_lighting"]
	path = castle_lighting
	url = https://github.com/minetest-mods/castle_lighting.git
[submodule "castle_farming"]
	path = castle_farming
	url = https://github.com/minetest-mods/castle_farming
[submodule "minetest_doc_modpack"]
	path = minetest_doc_modpack
	url = https://repo.or.cz/minetest_doc_modpack.git
[submodule "minetest_doc_minetest_game"]
	path = minetest_doc_minetest_game
	url = https://repo.or.cz/minetest_doc_minetest_game.git
